* {
    margin: 0 auto;
}

ul {
    list-style: none;
}

body {
    background-color: #F5F2F0;
}

.container {
    background-color: #F5F2F0;
    min-height: 500px;
    text-align: center;
    padding-top: 50px;
}

.form-group {
    margin: 20px;
    min-height: 50px;
    font-size: 20px;
}

.form-group input {
    font-size: 20px;
}

h1 {
    font-size: 36px;
}

.btn {
    margin-bottom: 50px;
}

/*html {
    background: #5C5B91;
}*/
form {
    margin-top: 20px;
    /*border: 2px solid;*/
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
input {
    margin: 20px;
    font-size: 20px;
}

input:hover {
    border-color: #2A295F;
}
.container {
    text-align: center;
    font-size: 22px;
}
.container p {
    font-size: 22px;
    font-weight: bold;                
}
.message {
  color: white;
}   

.border {
    border: 1px solid;
    border-radius: 20px;
    width: 500px;
    padding: 50px;
    margin-bottom: 20px;
}    

.border1 {
    border-color: blue;
}

.border2 {
    border-color: red;
}